@{
    Layout = "";
}

<div>Select Customer Profile</div>
<div class="row">
    <div class="col-8">
        <div><input placeholder="Type to Search..." class="form-control" id="txtSearchCustProf" /></div>
    </div>
    <div class="col-2">
        <button class="btn btn-info w-100 h-100" id="btnCustProfSearch" value="Search">Search</button>
    </div>
    <div class="col-2">
        <button class="btn btn-info w-100 h-100" id="btnAddCustProf" value="Search">Add New</button>
    </div>
    <div class="pb-5"></div>
    <div class="row">
        <div class="col-4">
            <div>Government Department</div>
            <select class="form-control">
                <option></option>
                <option>MBSJ</option>
                <option>DBKL</option>
                <option>MBPJ</option>
            </select>
        </div>
        <div class="col-4">
            <div>Department Category</div>
            <select class="form-control">
                <option></option>
                <option>Lesen</option>
            </select>
        </div>
        <div class="col-4">
            <div>Service</div>
            <select class="form-control">
                <option></option>
                <option>Lesen Premis</option>
                <option>Tambah Lot</option>
                <option>Tambah Iklan</option>
            </select>
        </div>
    </div>
</div>
<script>
    var dlGovDept = ['MBSJ', 'DBKL', 'MBPJ'];
    var dlDeptCat = ['Lesen'];
    var dlService = ['Lesen Premis', 'Tambah Lot', 'Tambah Iklan'];
    $(document).ready(function(){

        $("#dlGovDept").autocomplete({
            source: dlGovDept
        });
        $("#dlDeptCat").autocomplete({
            source: dlDeptCat
        });
        $("#dlService").autocomplete({
            source: dlService
        });
    });

    $('#btnAddCustProf').on('click', function () {

        $('#AddEditCustProfModalLabel').text('Create Comapany');
        $('#btnAddEdit').text('Create');
        $.ajax({
            type: "GET",
            url: "/CustomerProfile/AddEdit?type=I",
            success: function (result) {
                $("#AddEditCustProfModal").find(".modal-body").html(result);
                $("#AddEditCustProfModal").modal('show');
            }
        });
    });
</script>