
@{

    ViewData["Title"] = "Processing List";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active px-5" id="dataAllocate-tab" data-bs-toggle="tab" data-bs-target="#dataAllocate" type="button" role="tab" aria-controls="home" aria-selected="true">DA</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link  px-5" id="fireExting-tab" data-bs-toggle="tab" data-bs-target="#fireExting" type="button" role="tab" aria-controls="profile" aria-selected="false">FE</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link  px-5" id="pestControl-tab" data-bs-toggle="tab" data-bs-target="#pestControl" type="button" role="tab" aria-controls="contact" aria-selected="false">PC</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pb-5" id="dataAllocate" role="tabpanel" aria-labelledby="da-tab">@Html.Partial("_da")</div>
    <div class="tab-pane fade" id="fireExting" role="tabpanel" aria-labelledby="fe-tab">coming soon</div>
    <div class="tab-pane fade" id="pestControl" role="tabpanel" aria-labelledby="pc-tab">coming soon</div>
</div>