@{
    ViewData["Title"] = "Doc Allocate";
}

<div>
    <div class="btn-toolbar mb-5" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-3" role="group" aria-label="Add group">
            <button class="btn btn-primary" id="btnAddDocAllocate"><i class="fa-solid fa-plus px-1"></i></>Add</button>
            <input id="DocAllocateFiles" style="visibility:hidden;display:none;" type="file" onchange="uploadDocAllocate('DocAllocateFiles')">
            <label for="DocAllocateFiles" class="btn btn-primary btn-label"><i class="fa-solid fa-upload px-1"></i><span>Import</span></label>
            @*<button class="btn btn-primary" id="btnExpCustProf"><i class="fa-solid fa-download px-1"></i></>Export</button>*@
        </div>
        <div class="btn-group me-3" role="group" aria-label="Search Group">
            <span>Gov Dept:</span>
            <select class="mx-2" id="ddlGovDept">
                <option></option>
            </select>
            @*<input type="text" class="form-control" autocomplete="off" placeholder="Search..." id="txtSearchCustProf" />
            <button class="btn btn-primary" id="btnCustProfSearch" value="Search"><i class="fa fa-magnifying-glass icon px-1"></i>Search</button>*@
        </div>
    </div>

    <div class="gridContainer">
        <table id="DocAllocGrid"></table>
        <div id="tblDocAllocGridPager" style="text-align:center"> </div>
    </div>
</div>

<div class="modal fade" id="ViewCLModal" tabindex="-1" role="dialog" aria-labelledby="ViewCLModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewCLModalLabel">CheckList</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <table id="CheckListGrid"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>
<script>
    var daList = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/DocAllocate/GetDAList",
            success: function (result) {
                if (result.success) {
                    daList = $.parseJSON(result.lsDA);
                    $.each(result.govList, function (i, e) {
                        $('#ddlGovDept').append('<option value=\'' + e + '\'>' + e + '</option>')
                    });
                    loadDAGrid(daList);
                    
                }
                else
                    swal("", result.message, "error");
            }
        });
    });

    $('#ddlGovDept').change(function (e) {
        if (e.target.value == ''){
            loadDAGrid(daList);
        }else{
            var filterDA = daList.filter(m => m.GovDept == e.target.value)
            loadDAGrid(filterDA);
        }
    });

    function loadDAGrid(ls) {
        $.jgrid.gridUnload("DocAllocGrid");
        $("#DocAllocGrid").jqGrid({
            datatype: "local",
            data: ls,
            colNames: ['SerID', 'Gov Department', 'Service Name', ''],
            colModel: [
                { name: 'SerID', index: "SerID", width: 100 },
                { name: 'GovDept', index: "GovDept", width: 150 },
                { name: 'SerName', index: "SerName", width: 500 },
                { name: 'ViewDA', index: "ViewDA", formatter: ViewDA, width: 50 },
            ],
            height: '401',
            rowNum: 10,
            pager: '#tblDocAllocGridPager'
        });
    }

    function ViewDA(cellvalue, options, rowObject) {
        var innerHTML = '<i class="fa-solid fa-list-check gridIcon" style="color:#157347" onclick="btnViewDA(\'' + rowObject.SerID + '\')"></i>';
        return innerHTML;
    }

    function btnViewDA(SerID) {
        $.jgrid.gridUnload("CheckListGrid");
        $("#ViewCLModal").modal('show');
        $("#CheckListGrid").jqGrid({
            url: "/ProcessingList/loadCheckListByCode?code=" + SerID,
            datatype: "json",
            colNames: ['Documents', 'Client', 'Runner'],
            colModel: [
                { name: 'document', index: "document", width: 650 },
                { name: 'Client', index: "Client", width: 80, align: 'center', formatter: PbClient },
                { name: 'Runner', index: "Runner", width: 80, align: 'center', formatter: PbRunner },
            ],
            loadComplete: function (data) {
            },
            height: '400',
            rowNum: -1,
        });
    }

    function PbClient(cellvalue, options, rowObject) {
        var PreparedBy = "";
        if (rowObject.preparedBy == "C") {
            PreparedBy = "<i class='fa-solid fa-check'style='color:#00f01c'></i>"
        }
        return PreparedBy
    }
    function PbRunner(cellvalue, options, rowObject) {
        var PreparedBy = "";
        if (rowObject.preparedBy == "R") {
            PreparedBy = "<i class='fa-solid fa-check'style='color:#00f01c'></i>"
        }
        return PreparedBy
    }
    function uploadDocAllocate(inputId) {

        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }
        $.ajax(
            {
                url: "/DocAllocate/ImportDA",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    if (result.success) {

                        $('#DocAllocateFiles').val('');
                        swal('', 'Files Uploaded!', 'success');
                    } else {
                        $('#DocAllocateFiles').val('');
                        swal('', result.msg, 'error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#DocAllocateFiles').val('')
                }
            }
        );
    }
</script>