@{
    ViewData["Title"] = "Customer Profile";
}

<div>
    <div class="btn-toolbar mb-5" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-3 mb-2" role="group" aria-label="Add group">
            <button class="btn btn-primary" id="btnAddCustProf"><i class="fa-solid fa-plus px-1"></i></>Add</button>
            <input id="CustProfFiles" style="visibility:hidden;display:none;" type="file" onchange="uploadCustProfFile('CustProfFiles')">
            <label for="CustProfFiles" class="btn btn-primary btn-label"><i class="fa-solid fa-upload px-1"></i><span>Import</span></label>
            <button class="btn btn-primary" id="btnExpiryDate"><i class="fa-solid fa-calendar-days px-1"></i></>Expiry Date</button>
            @*<button class="btn btn-primary" id="btnExpCustProf"><i class="fa-solid fa-download px-1"></i></>Export</button>*@
        </div>
        <div class="btn-group me-3" role="group" aria-label="Search Group">
            <input type="text" class="form-control" autocomplete="off" placeholder="Search..." id="txtSearchCustProf" />
            <button class="btn btn-primary" id="btnCustProfSearch" value="Search"><i class="fa fa-magnifying-glass icon px-1"></i>Search</button>
        </div>
        <div class="btn-group me-3 mb-2" role="group" aria-label="function group">
            @*<button class="btn btn-primary" id="btnSyarat"><i class="fa-regular fa-file-lines px-1"></i></>Syarat-syarat</button>*@
        </div>
    </div>
    <div class="gridContainer">
        <table id="CustProfGrid"></table>
        <div id="tblCustProfGridPager" style="text-align:center"> </div>
    </div>

</div>
<div class="modal fade" id="AddEditCustProfModal" tabindex="-1" role="dialog" aria-labelledby="AddEditCustProfModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddEditCustProfModalLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h-100 w-100">
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNext" class="btn btn-primary">Next</button>
                <button type="button" id="btnAddEdit" class="btn btn-primary d-none">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExpiryModal" tabindex="-1" role="dialog" aria-labelledby="ExpiryModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ExpiryModalLabel">Expiry Date</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodyw-100" id="ExpiryModalBody" style="min-height:400px;height:auto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
<script>
    var cpList = [];
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/CustomerProfile/GetCustProfList",
            success: function (result) {

                if (result.success)
                {
                    cpList = $.parseJSON(result.lsCustProf);
                    loadCustProfList(cpList);
                }
                else
                    swal("", result.message, "error");
            }
        });
    });

    $('#btnCustProfSearch').click(function () {
        $.ajax({
            type: "GET",
            url: "/CustomerProfile/GetCustProfList?filter=" + encodeURIComponent($('#txtSearchCustProf').val()),
            success: function (result) {
                if (result.success) {
                    cpList = $.parseJSON(result.lsCustProf);
                    $('#CustProfGrid').jqGrid('clearGridData');
                    $('#CustProfGrid').setGridParam({ data: cpList }).trigger('reloadGrid');
                }
                else {
                    swal("", result.message, "error");
                }
            }
        });
    });

    function loadCustProfList(ls) {
        $("#CustProfGrid").jqGrid({
            datatype: "local",
            data: ls,
            colNames: ['', 'Code', 'Company Name', 'Contact Person', 'Contact No', 'Email', ''],
            colModel: [
                { name: 'viewCP', index: "viewCP", formatter: viewCP, width: 30 },
                { name: 'CustCode', index: "CustCode", width: 100 },
                { name: 'CustName', index: "CustName", width: 500 },
                { name: 'ContactPS', index: "ContactPS", width: 300 },
                { name: 'ContactNo', index: "ContactNo", width: 150 },
                { name: 'Email', index: "Email", width: 250 },
                { name: 'delCP', index: "delCP", formatter: delCP, width: 30 },
            ],
            height: '100%',
            rowNum: 10,
            pager: '#tblCustProfGridPager',
            shrinkToFit: false,
        });
    }

    function viewCP(cellvalue, options, rowObject) {
        //var innerhtml = '<i class="fa-solid fa-user-pen gridIcon" style="color:#223658" onclick="btnViewCP()"></i>';
        return '';
    }

    function delCP(cellvalue, options, rowObject) {
        var innerhtml = '<i class="fa-solid fa-trash-can gridIcon" style="color:#de1212" onclick="btnDelCP(\'' + rowObject.CustCode + '\')"></i>';
        return innerhtml;
    }

    function btnViewCP() {

    }

    function btnDelCP(CustCode) {
        swal({
            title: "",
            text: "Customer Profile will be permenantly deleted after confirm.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Confirm',
            cancelButtonText: "Cancel",
            closeOnConfirm: false
        },
            function (isConfirm) {

                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: "/CustomerProfile/DeleteCust?CustCode=" + CustCode,
                        success: function (result) {
                            if(result.success){
                                swal("","delete successfully!","success");
                                $('#btnCustProfSearch').trigger('click');
                            }else{
                                swal("", result.message, "error");
                            }
                        }
                    });
                }
            });
    }

    $('#btnAddCustProf').on('click', function () {

        $('#AddEditCustProfModalLabel').text('Create Comapany');
        $('#btnAddEdit').text('Create');
        $.ajax({
            type: "GET",
            url: "/CustomerProfile/AddEdit?type=I",
            success: function (result) {
                $("#AddEditCustProfModal").find(".modal-body").html(result);
                $("#AddEditCustProfModal").modal('show');
            }
        });
    });

    $("#AddEditCustProfModal").on("hidden.bs.modal", function () {  //reset popup
        $('#btnNext').removeClass('d-none');
        $('#btnNext').addClass('d-block');
        $('#btnAddEdit').removeClass('d-block');
        $('#btnAddEdit').addClass('d-none');
        $("#AddEditCustProfModal").find(".modal-body").html('');
    }); 

    $("#ExpiryModal").on("hidden.bs.modal", function () {  //reset popup
        $('#btnNext').removeClass('d-none');
        $('#btnNext').addClass('d-block');
        $('#btnAddEdit').removeClass('d-block');
        $('#btnAddEdit').addClass('d-none');
        $("#ExpiryModal").find(".modal-body").html('');
    });

    function uploadCustProfFile(inputId) {
        debugger
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }
        $.ajax(
            {
                url: "/CustomerProfile/ImportCP",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (result) {
                    $('.loader').hide();
                    if (result.success) {
                        $('#CustProfFiles').val('');
                        $.ajax({
                            type: "GET",
                            url: "/CustomerProfile/GetCustProfList?filter=" + encodeURIComponent($('#txtSearchCustProf').val()),
                            success: function (result) {
                                if (result.success) {
                                    cpList = $.parseJSON(result.lsCustProf);
                                    $('#CustProfGrid').jqGrid('clearGridData');
                                    $('#CustProfGrid').setGridParam({ data: cpList }).trigger('reloadGrid');
                                }
                                else {
                                    swal("", result.message, "error");
                                }
                            }
                        });
                        swal('', 'Files Uploaded!', 'success');
                    } else {
                        $('#CustProfFiles').val('');
                        swal('', result.msg, 'error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#CustProfFiles').val('')
                }
            }
        );
    }

    $('#btnExpiryDate').on('click', function () {
        var selRowId = $('#CustProfGrid').jqGrid("getGridParam", "selrow");
        if (selRowId != null) {
            var rowData = $('#CustProfGrid').jqGrid("getRowData", selRowId);
            $("#ExpiryModalBody").load("/CustomerProfile/ExpiryDate?CustCode=" + encodeURIComponent(rowData.CustCode) + "&CustName=" + encodeURIComponent(rowData.CustName));
            $("#ExpiryModal").modal('show');
        }else{
            $("#ExpiryModalBody").load("/CustomerProfile/ExpiryDate?CustCode=&CustName=");
            $("#ExpiryModal").modal('show');
        }
    });
</script>