@{
    ViewData["Title"] = "Dashboard";
}


<div style="height:600px;overflow:auto">
    <h3 class="pt-3">December</h3>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
    </div>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description</span>
        </div>
    </div>
    <h3 class="pt-3">December</h3>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
    </div>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description</span>
        </div>
    </div>
    <h3 class="pt-3">December</h3>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
    </div>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description</span>
        </div>
    </div>
    <h3 class="pt-3">December</h3>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
    </div>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description</span>
        </div>
    </div>
    <h3 class="pt-3">December</h3>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
    </div>
    <div class="row m-2" style="border-bottom:1px solid #ccc">
        <div class="col-1">
            <span>12/12/2023</span>
        </div>
        <div class="col-4">
            <span>PUSAT PERKEMBANGAN KANAK-KANAK SINARAN GEMILANG</span>
        </div>
        <div class="col-1">
            <span>DA</span>
        </div>
        <div class="col-6">
            <span>Description</span>
        </div>
    </div>
</div>